.holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wholeContainer{
    width: 100vw;
    background-color: aqua;
    margin-top: 20px;
    padding: 20px;
}

.container{
    margin: 20px;
    display: inline-block;
}